.button-up {
  position: fixed;
  bottom: 32px;
  right: 32px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .button-container {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 43px;
      height: 43px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--bg);
      border-radius: 50%;
      border-color: transparent;
      z-index: 50;
    }

    .button-scroll {
      color: var(--bg);
      filter: invert(1) brightness(2);
    }
  }

  .placeholder {
    font-family: var(--mono);
    font-size: 11px;
    color: var(--text);
    line-height: 1;
    opacity: 0;
  }
}
